/** PIN **/
/* Description */
.field-name-field-details-public {
  height: 200px;
  overflow: auto;
}
/* Four Corners : Members */
.view-pin-members .views-label {
  color: #E89E2D;
}
.view-pin-members .views-field-field-person-photo {
  float: left;
  margin-right: 10px;
}
.view-pin-members .views-field-og-roles {
  font-size: 14px;
}
.view-pin-members .views-field-field-name-first,
.view-pin-members .views-field-field-name-last {
  color: #214467;
  font-size: 14px;
}